
.hidden-fields{
  display:none;
}


.separator {
  border: 0;
}
hr{
  margin-top: 15px;
  margin-bottom: : 15px;
  background-color: #ffffff00;
}

.separator--line {
  border: 0;
  border-bottom:1px solid #858585;

  width: 0;
  animation: separator-width 0.3s ease-out forwards;
}
@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

p{
  padding:0px;
  margin:0px;
}

.sound-buttons-container{
  width:60%;
  margin:auto;
}

.card {
  /* width:820px; */
  width:52%;
  background: url("../assets/backgrounds/_tbg.jpg");
  font-size: 40px;
  text-align: center;
  color: black;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .card{
  width: 70%;
  margin-left: 25%;
  }
}

@media only screen and (max-width: 1024px) {
  .card{
  width: 100%;
  margin: 0 auto;
  }
}


.frontCard{
border:5px solid #777;
border-radius:15px;
padding:50px;
display: block;
position: relative;
margin-top:6%;
}

@media only screen and (max-width: 1024px) {

  .frontCard{
    margin-top: 0.5%;
    height: 80vh;
  }

  .front-card__translation{
    font-size: 50px !important;
  }
}

/* Back card's background */
#container {

  margin-top:2vh;
  border-radius:15px;
  position: relative;
  z-index: 90;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}


@media only screen and (max-width: 1024px) {
  #container{
  min-height: 100vh;
  margin-top:0px;
  }
}

#imgcontainer{
  min-height: 80px;
}

#imgcontainer img , video {

  width: auto;
  height: auto;
  margin-top:15px;
  padding-bottom:5px;
  height: 200px;
  max-width: 350px;

}

@media only screen and (max-width: 1024px) {
  #imgcontainer{
      padding-bottom:1px;
  }

  #imgcontainer img  {

    max-height: 250px;
    max-width: 200px;

  }

  #imgcontainer  video {
      display: none;
  }
}

/******************************************************/

/*French word*/
.word {
  font-family: Impact;
  color: black;
  margin:0px;
  font-size: 60px;
}

@media only screen and (max-width: 1024px) {
  .word{
  font-size:45px;
  }
}

.typedWord {
  font-size: 60px;
}
@media only screen and (max-width: 1024px) {
    .typedWord {
      font-size: 25px;
    }
}

/*English translation*/
.translation{
  font-size:20px;
  color:#25272b;
  padding-top:5px;
  font-weight: bold;
}



@media only screen and (max-width: 1024px) {


.translation{
  font-size:15px;
  color:#25272b;
  padding-top:2px;
}
}

.translation__icon{
  width:15px;
  border:0px ;
  margin-right:4px
}

/*french and english examples*/
.examples{
  font-size:30px;
  font-family: myfont;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {

  .examples{
    font-size:30px;
    display: block !important;
  }
}

.examples__icon{
   cursor: pointer;
   margin-top:12px;

  display:inline-block
}
.examples__icon--previous{
    float:left;
    margin-left:15px;
}
.examples__icon--next{
    float:right;
    margin-right:15px;
}

#noOfEx{
  font-size: 10px;
}


@media only screen and (max-width: 1024px) {
  .examples__icon--previous{
    display: none !important;
  }
  .examples__icon--next{
      display: none !important;
  }

  #noOfEx{
    display: none !important;
  }
}

.ipa{
  font-size:20px;
  font-weight:normal;
  color:#424241;

}

.noun-plural{
  display: none;
}

.plural-arrow-icon{
  width:80px;
  margin-bottom: -20px;
}

/****************************************************/

/*Small replay  button on the back  card*/
.button .replaybutton span svg {

  font-size:40px;
  background-color:white;
  border: 1px dotted #CCC;
  border-radius: 90px;
}

/*Large replay  button on the front card*/

.button1 .replaybutton span svg {
  font-size:200px;
  background-color:white;
  border: 1px dotted #CCC;
  border-radius: 90px;
}

@media only screen and (max-width: 1024px) {

    .button1 .replaybutton span svg {
      font-size:40px;
    }
}

/****************************************************/


/*used in Conjugations button - used in JS*/
.collapsible {

  cursor: pointer;
  border: none;
  text-align: center;
  outline: none;
  margin:0px;
  width: 100%;
  display:block;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight:bold;
}
/****************************************************/


.attachments{
  display:block;
}

.card-attachment__title{
  border: none;
  text-align: center;
  outline: none;
  margin:0px;
  width: 100%;
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight:bold;
  font-family:Comic Sans MS;
}

.card-attachment__title--extra{
color:black ;
background-color:#f3dcf5;
}

.card-attachment__title--mnemonic{
background-color:#3ac990;
}

.card-attachment__title--tags{
background-color:#424241;
}

.card-attachment__title__icon{
  margin:-15px;
}

.card-attachment__title__icon--small{
  margin:-5px;
  width:20px;
}

.card-attachment__title__icon--med{
  width:35px;
}

.card-attachment__body{
  padding: 20px;
  overflow: hidden;
  font-family:myfont;
  text-align:center;
  font-family:arial;
  font-size:15px;
}

.card-attachment__body--extra{
  color:grey ;
  background-color:#f3dcf5;
}

.card-attachment__body--mnemonic{
  color:#354d43 ;
  background-color:#3ac990;
  font-size:20px;
}

.card-attachment__body--tags{
  color:grey;
  background-color:#424241;
 font-family:myfont;

}
/****************************************************/


/**********************************************/
.verb-table-content{
  padding: 30px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  font-size:200px;
  font-family:myfont;
  text-align:center;
}

/**********************************************************/
.type-corner {
  width: 0;
  height: 0;
  border-top: 150px solid rgba(173, 147, 147, 0.4);
  border-bottom: 150px solid transparent;
  border-left: 150px solid transparent;
  position:absolute;
  right:0;
  font-weight: bold;
  display: none;
}

.type-corner__text {
  position:absolute;
  top: -110px;
  width: 100px;
  left: -100px;
  text-align: center;
  font-size: 22px;
  font-family: myfont;
  transform: rotate(45deg);
  display:block;
  color:#efefef;
}
/***************************************************************/


.ribbon {
  width: 0px;
  height: 35px;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  transition: all 0.2s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: -5px;
  left: 20px;
}

.ribbon:hover {
  height: 65px;
}

.ribbon--green {
  border: solid 15px #99ff66;
  border-bottom: solid 15px transparent;
}
.ribbon--pink {
    border: solid 15px deeppink;
    border-bottom: solid 15px transparent;

}
.ribbon--blue {
    border: solid 15px #0099cc;
    border-bottom: solid 15px transparent;
}



/*************************************************************/
.links{
  position: absolute;
  width:10%;
  top:10%;
  right: 67%;
}
.link{

  cursor:pointer;
  border-radius: 4px 0px 0px 4px;
  # box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);
  margin-bottom:6px;
  font-size:20px;
  font-family:myfont;
  padding:5px 5px 5px 5px;
}

.link:hover{
  position: relative;
  right: 72%;
}

.link1{
  background-color:#8a1108;
}
.link2{
  background-color:#333333;
}
.link3{
  background-color:#373147;
}
.link4{
  background-color:#0c5703;
}
.link a{
  text-decoration: none;
  color: white;

}
.link a:visited {
  color: white;
}
/***************************************************************/
.menus{
  position: absolute;
/* left: 1%;
top: 25%; */
left: 0%;
top: 0%;
min-height: 100%;
min-width: 160px;
background-color:#f3dcf5d4;
font-size: 20px;

}

.menu-head{
  background-color: #7b717bfc;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: myfont;
  font-size: 20px;
  text-align: center;

}

.menu__head__icon{
  width: 20px;
  margin-left: -15px;
  margin-right: 10px;

}

.menu__head__icon--open{
  width: 30px;
  margin-left: 5px;
  margin-top: 5px;

}

.menu__head__icon:hover{
cursor: pointer;

}

.menu__head__icon--open{
  cursor: pointer;
}

.menu__title{
  font-family: myfont;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  background-color: pink;
}

.menu{
  /* position: absolute;
  left: 15px; */
  /* right: 80%; */
  /* width: 18%; */
  font-size:15px;
  font-family:arial;
  text-align:left;
  /* border: 2px solid rgb(212, 119, 143,0.3); */

}
.menu--1{
  /* position: absolute;
  top:0%; */
  /* bottom:436px;
  width:140px; */
}
.menu--2{
  /* top:20%;
  position: absolute; */
  display: flex;
  /* bottom:400px; */
  text-align:center;
}
.menu--3{
  /* top:40%;
  position: absolute; */
  /* bottom:230px;
  width:140px; */
}


.menu--4{
  /* position: absolute; */
  /* bottom:546px;
  width:140px; */
}

.menu2-icon{
  /* border: 1px solid #f3dcf5d4; */
padding: 4.5px;
 height: 30px;
  margin:0 !important;
  /* flex: 1; */
  cursor: pointer;
}

/***************************************************************/
.card-maturity{
  /* position: absolute;
  right: 35px;
  bottom:400px; */
  font-size:20px;
  font-family:myfont;
  font-weight: bold;
  padding-top: 1%;
  /* width:140px; */
}

.card-maturity__star-icon{
  width: 40px;
  height: 40px;
}
.card-maturity__text{
  text-align: center;
  font-family: myfont;
  color: white;
}

/***************************************************************/
/*for menus */
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  /* transition: all 0.15s ease-out 0s; */
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  z-index: 1000;
  margin-right: 5px;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #374957;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 14px;
  text-align: center;
  /* line-height: 20px; */
}
.option-input:checked::after {

  background: #374957;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

}
.options label {
  display: block;
}

.highlightOption{
  display: block;
  /* width:135px; */
  /* border: 2px solid rgb(212, 119, 143,0.3); */
  padding: 5px;
}


/***************
* Note-type specific stylling
**/


.adverb__background {background: rgb(201,162,255);
background: linear-gradient(90deg, rgba(201,162,255,1) 12%, rgba(244,251,255,1) 100%);
}

.adverb__image{
 background-color:rgb(184, 77, 255);
padding-bottom:5px;
}

.adjective__background {
background: rgb(253,255,186);
background: linear-gradient(4deg, rgba(253,255,186,1) 0%, rgba(255,251,223,1) 70%, rgba(255,255,255,1) 100%);
}

.adjective__image {
 background-color: #e89d35;
}


.feminin{
color:#8a5473;
}
.masculine{
color:#3d6287
}


.masculine__background{
background: rgb(105,88,255);
background: linear-gradient(90deg, rgba(105,88,255,0.7260037804184174) 0%, rgba(69,218,174,0.2666200269170168) 45%, rgba(187,231,255,1) 100%);
}

.masculine__image{
  background-color: #507fad;
}

.feminine__background{
  background:linear-gradient(90deg, rgba(255,209,209,1) 0%, rgba(255,234,197,1) 24%, rgba(255,225,241,1) 75%, rgba(252,222,222,1) 100%);

}

.feminine__image{
  background-color: #ad5086;

}

.both__background {
background: rgb(193,186,255);
background: linear-gradient(90deg, rgba(193,186,255,1) 0%, rgba(255,223,242,1) 70%, rgba(255,255,255,1) 100%);
}

.both__image {
background: rgb(105,88,255);
background: linear-gradient(90deg, rgba(105,88,255,1) 0%, rgba(255,117,199,1) 70%, rgba(255,255,255,1) 100%);

}

.other__background{

}
.other__image{
  background-color: grey;
}

.verb__background {
background: rgb(206,255,186);
background: linear-gradient(4deg, rgba(206,255,186,1) 0%, rgba(228,255,223,1) 70%, rgba(255,255,255,1) 100%);
}


.verb__image{
 background-color: #4d8f55;
padding-bottom:5px;
}


.one{
background-image: linear-gradient(45deg, #8bc787 30%, #b2de59 30%, #b2de59 50%, #8bc787 50%, #8bc787 80%, #b2de59 80%, #b2de59 100%);
background-size: 7.07px 7.07px;

}

.two{
background-image: linear-gradient(45deg, #98d1f0 30%, #abdcf5 30%, #abdcf5 50%, #98d1f0 50%, #98d1f0 80%, #abdcf5 80%, #abdcf5 100%);
background-size: 7.07px 7.07px;
}

.three{
background-image: linear-gradient(45deg, #ff8585 30%, #ff7f7f 30%, #ff7f7f 50%, #ff8585 50%, #ff8585 80%, #ff7f7f 80%, #ff7f7f 100%);
background-size: 7.07px 7.07px;
}


.verb-first-group-ending{
color:#005706;
text-decoration: underline;
font-weight:bold;
}


.verb-second-group-ending{
color:#0c386b;
text-decoration: underline;
font-weight:bold;
}


.verb-third-group-ending{
color:#a6082b;
text-decoration: underline;
font-weight:bold;
}


.verb-conj-mini-card{
    display: inline-block;
    padding: 30px;
    overflow: hidden;
    background-color: #f1f1f1;
    font-size: 25px;
    font-family: myfont;
    text-align: center;
    width: 320px;
    height: 150px;
    border: 1px solid black;
    margin-top: 6px;
}
/***************************************************************/


/**************************************************************************/
/*
* Conj table
*/

div.minimalistBlack {
  border: 0px solid #000000;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.divTable.minimalistBlack .divTableCell, .divTable.minimalistBlack .divTableHead {
  border: 1px solid #57662a;
  padding: 5px 4px;
}
.divTable.minimalistBlack .divTableBody .divTableCell {
  font-size: 28px;
}
.divTable.minimalistBlack .divTableCell:nth-child(odd) {
  background: #efffed;
}
.divTable.minimalistBlack .divTableCell:nth-child(even) {
  background: #ffffed;
}
.divTable.minimalistBlack .divTableHeading {
  background-color: #b4cf63;
  border-bottom: 3px solid #57662a;
}
.divTable.minimalistBlack .divTableHeading .divTableHead {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;
width:30%}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}


/**************************************************************************************************/
@media only screen and (max-width: 1024px) {

#content{
  margin:0.05em !important;
}

.template{
  display: none;
}

}



/**************************************************************************************************/

@font-face { font-family: myfont; src: url('../assets/font/_KGNeatlyPrinted.ttf'); }
