
/*********************************/
@media only screen and (min-width: 786px) {

  .no-mobile{
    display:block;
  }
  .card{
    width:820px;
    background: url("_tbg.jpg");
  }
  #container{
    min-width:800px;
    margin-top:30px;
    min-height: 650px;
  }
  .frontCard{
    margin-top:6%;
  }
  .word , .typedWord {
    font-size: 60px;
  }
  #imgcontainer{
      padding-bottom:5px;
      min-height: 100px;
  }
  #imgcontainer img , video {
    max-width: 350px;
    max-height: 250px;
    /* min-width: 350px; */
    min-height: 250px;

  }
  .corner{
      display:block;
  }

}
/***************************************/
p{
  padding:0px;
  margin:0px;
}

.sound-buttons-container{
  width:60%;
  margin:auto;
}
/**********************************************/
.card {
  font-size: 40px;
  text-align: center;
  color: black;
  margin: 0 auto;
}


.frontCard{
border:5px solid #777;
border-radius:15px;
padding:50px;
display: block;
position: relative;
}

/* Back card's background */
#container {

  #border:5px solid #777;
  border-radius:15px;
  position: relative;
  z-index: 90;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}



#imgcontainer img , video {

  width: auto;
  height: auto;
  margin-top:15px;
}

/******************************************************/

/*French word*/
.word {
  font-family: Impact;
  color: black;
  margin:0px;
}

/*English translation*/
.translation{
  font-size:20px;
  color:#25272b;
  padding-top:5px;
  font-weight: bold;
}

/*french and english examples*/
.examples{
  font-size:30px;
  font-family: myfont;
  font-weight: bold;
}


.ipa{
  font-size:20px;
  font-weight:normal;
  color:#424241;
  #background-color:#424241;
  #border-radius:-25px;

}

#mnemonic{
  padding-top:3px;
  padding-bottom:3px;
}


/****************************************************/

/*Small replay  button on the back  card*/
.button .replaybutton span svg {

  font-size:40px;
  background-color:white;
  border: 1px dotted #CCC;
  border-radius: 90px;
}

/*Large replay  button on the front card*/

.button1 .replaybutton span svg {
  font-size:200px;
  background-color:white;
  border: 1px dotted #CCC;
  border-radius: 90px;
}

/****************************************************/



.collapsible {

  cursor: pointer;
  border: none;
  text-align: center;
  outline: none;
  margin:0px;
  width: 100%;
  display:block;
  text-decoration: none;
}

.moreoptions {

  cursor: pointer;
  border: none;
  text-align: center;
  outline: none;
  margin:0px;
  width: 100%;
  display:block;
  text-decoration: none;
}

.collapsibleExtra{
  cursor: pointer;
  border: none;
  text-align: center;
  outline: none;
  margin:0px;
  width: 100%;
  display:block;
  text-decoration: none;
}

.collapsibleStyle {
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight:bold;
}


.active, .collapsible:hover {
  #background-color: #555;
}

.content {
  padding: 30px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  font-size:200px;
  font-family:myfont;
  text-align:center;
}

.extraContebt{
  padding: 30px;
  overflow: hidden;
  background-color: #f1f1f1;
  font-size:200px;
  font-family:myfont;
  text-align:center;
}

/**********************************************************/


.icon{
  border:none;
  width:50px;
  margin:-5px;
}
.icon2{
  border:none;
  width:20px;
  margin:0px;
}
.icon3{
  border:none;
  width:20px;
  margin:-5px;
}
.icon4{
  border:none;
  width:35px;

}


.optionIcon{
  border: 1px solid rgb(212, 119, 143,0.3);
  width:33px;
  height: 33px;
  background-color: pink;
  margin:0 !important;
  flex: 1;
  cursor: pointer;
}


/**********************************************************/
.corner {
  width: 0;
  height: 0;
  border-top: 150px solid rgba(173, 147, 147, 0.4);
  border-bottom: 150px solid transparent;
  border-left: 150px solid transparent;
  position:absolute;
  right:0;
  font-weight: bold;
}

.corner span {
  position:absolute;
  top: -110px;
  width: 100px;
  left: -100px;
  text-align: center;
  font-size: 22px;
  font-family: myfont;
  transform: rotate(45deg);
  display:block;
  color:#efefef;
}

/**********************************************************/
.ribbon {
  width: 0px;
  height: 35px;
  background-color: transparent;
  position: absolute;
  top: -5px;
  left: 20px;
  border: solid 15px #99ff66;
  border-bottom: solid 15px transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}

.ribbonPink {
  width: 0px;
  height: 35px;
  background-color: transparent;
  position: absolute;
  top: -5px;
  left: 20px;
  border: solid 15px deeppink;
  border-bottom: solid 15px transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}
.ribbonPink:hover {
  height: 65px;
}

.ribbonPink:active {
  border-color: #d00;
  border-bottom-color: transparent;
}

.ribbonBLUE {
  width: 0px;
  height: 35px;
  background-color: transparent;
  position: absolute;
  top: -5px;
  left: 20px;
  border: solid 15px #0099cc;
  border-bottom: solid 15px transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}
.ribbonBLUE:hover {
  height: 65px;
}

.ribbonBLUE:active {
  border-color: #d00;
  border-bottom-color: transparent;
}

.ribbon:hover {
  height: 65px;
}

.ribbon:active {
  border-bottom-color: transparent;
}

/****************************************************************************************************/


button a {
    position: relative;
}
button a:hover{
    text-decoration: none;
}
button a::before {
    border-left: 5px solid transparent;
    border-top: 5px solid #ffe4b5;
    border-right: 5px solid transparent;
    height: 0px;
    width: 0px;
    content:'';
    top: -2px;
    left: 6px;
  font-size:25px;
  font-family:myfont;
  font-weight:normal;

}
button a::after {
    content: attr(data-tooltip);
    top: -20px; left: -15px;
    background: #ffe4b5;
    border-radius: 4px;
    padding: 2px 6px;
    white-space: nowrap;
    color: black;
  font-size:25px;
  font-family:myfont;
  font-weight:normal;
}

button a::after, button a::before {
    position: absolute;
    display: none;
}
button a:hover::after, button a:hover::before {
    display: block;
}
/****************************************************************************************************/
.link{
  position: absolute;
  right: 1070px;
  width: 100px;
  max-width:180px;
  z-index:-700;
  cursor:pointer;
  border-radius: 4px 0px 0px 4px;
  # box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);
  margin-bottom:6px;
  font-size:20px;
  font-family:myfont;
  padding:5px 5px 5px 5px;
}

.link:hover{
  right: 1150px;
}

.link1{
  top: 35px;
  background-color:#8a1108;
}
.link2{
  top: 75px;
  background-color:#333333;
}
.link3{
  top: 115px;
  background-color:#373147;
}
.link4{
  top: 155px;
  background-color:#0c5703;
}
.link a{
  text-decoration: none;
  color: white;

}
.link a:visited {
  color: white;
}

/**************************************************************************************************/
@media only screen and (max-width: 786px) {
  .card {
    width: 100%;
    height:100vh;
    background: url("_tbg.jpg");


  }
#container{
width:100%;
margin-top:0px;
}
  .button1 .replaybutton span svg {
    font-size:40px;
  }


  .no-mobile{
    display:none;
  }

  .corner{
      display:none;
  }

.frontCard{
  margin-top: 0.5%;
}

.word{
font-size:35px;
}
  .typedWord {
    font-size: 25px;
  }
  #imgcontainer{
      padding-bottom:1px;
  }
  #imgcontainer img , video {
    max-width: 200px;
    max-height: 150px;
  }

.examples{
font-size:20px;
}

.translation{
  font-size:15px;
  color:#25272b;
  padding-top:2px;
}

.ipa{
  font-size:15px;
}

#content{
  margin:0.05em !important;
}

}



.options{
  position: absolute;
  left: 15px;
  bottom:230px;
  font-size:20px;
  font-family:myfont;
  font-weight: bold;
  width:140px;
  /* background-color: white; */
  text-align:left;
  border: 2px solid rgb(212, 119, 143,0.3);
  /* padding: 5px; */
}



.options2{
  display: flex;
  position: absolute;
  left: 15px;
  bottom:400px;
  font-size:20px;
  font-family:myfont;
  font-weight: bold;
  /* width: 100px; */
  /* width:125px; */
  /* background-color: white; */
  text-align:center;
  border: 2px solid rgb(212, 119, 143,0.3);
  /* padding: 5px; */
}

.options3{
  position: absolute;
  left: 15px;
  bottom:436px;
  font-size:20px;
  font-family:myfont;
  font-weight: bold;
  width:140px;
  /* background-color: white; */
  text-align:left;
  border: 2px solid rgb(212, 119, 143,0.3);
  /* padding: 5px; */
}

.options4{
  position: absolute;
  left: 15px;
  bottom:546px;
  font-size:20px;
  font-family:myfont;
  font-weight: bold;
  width:140px;
  /* background-color: white; */
  text-align:left;
  border: 2px solid rgb(212, 119, 143,0.3);
  /* padding: 5px; */
}


.cardInfo{
  position: absolute;
  right: 35px;
  bottom:400px;
  font-size:20px;
  font-family:myfont;
  font-weight: bold;
  width:140px;
  /* background-color: white; */
  text-align:left;
  /* border: 2px solid rgb(212, 119, 143,0.3); */
  /* padding: 5px; */
}

@keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 100px;
    width: 100px;
    margin-left: -40px;
    margin-top: -40px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  /* transition: all 0.15s ease-out 0s; */
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  z-index: 1000;
  margin-right: 5px;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 14px;
  text-align: center;
  /* line-height: 20px; */
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

}
.options label {
  display: block;
}

.highlightOption{
  display: block;
  width:135px;
  background-color:rgb(252, 179, 198,0.9);
  border: 2px solid rgb(212, 119, 143,0.3);
  padding: 1px;
}






.separator {
  border: 0;
}

.separator--line {
  border: 0;
  border-bottom:1px solid #858585;

  width: 0;
  animation: separator-width 0.3s ease-out forwards;
}
@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}



#noOfEx{
  font-size: 10px;
}

.miniCard{
    display: inline-block;
    padding: 30px;
    overflow: hidden;
    background-color: #f1f1f1;
    font-size: 25px;
    font-family: myfont;
    text-align: center;
    width: 320px;
    height: 150px;
    border: 1px solid black;
    margin-top: 6px;
}

.star{
  width: 40px;
  height: 40px;
}

#star-msg{
  text-align: center;
  font-family: myfont;
  color: white;
}
/**************************************************************************************************/

@font-face { font-family: myfont; src: url('_KGNeatlyPrinted.ttf'); }
